.ipynb_checkpoints/*
.idea/* 
.DS_Store* 
Archive
*.pyc
.~lock.*
lm/libri-timit-lm.arpa
lm/libri-timit-lm.klm
lm/timit-lm.arpa
lm/timit-lm.klm
*/.ipynb_checkpoints

kDS.sh
kDS-LOCAL.sh

data/*
!enron*
!e00*
!live-rec-test.py
!data-recorder.py
