.ipynb_checkpoints/*
.idea/* 
.DS_Store* 
Archive
*.pyc
.~lock.*
engine/lm/libri-timit-lm.arpa
engine/lm/libri-timit-lm.klm
engine/lm/timit-lm.arpa
engine/lm/timit-lm.klm
*/.ipynb_checkpoints

kDS.sh
kDS-LOCAL.sh

data/*
!enron*
!e00*